* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas:
    "header header"
    ".sidenav table"
  }

  
  /* Style the header */
  header {
    grid-column-start: 1;
    grid-column-end: span col2-start;
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .sidenav, .dropdown-btn {
    height: 100%;
    width: 90%;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    grid-column-start:1;
    grid-column-end: line2;
    grid-row-start:row1-end;
    grid-row-end:auto;
  }
  
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a, .dropdown-btn:hover {
    color: #f1f1f1;
  }

  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .gridStyle {
    float:top;
    grid-area: table;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: row1-end;
    grid-row-end:row3-start;
    /* position: fixed;
    width: 109.3%;
    text-align: center;
    display:grid;
    grid-template-columns: auto auto auto;
    padding:10px; */
  }
  
  .main {
    display:grid;
    grid-template-columns: auto auto auto;
    margin-left: 200px; /*Same as the width of the sidenav */
    font-size: 28px; /*Increased text to enable scrolling*/
  } 
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Create three equal columns that floats next to each other */
/* .column {
  float: right;
  width: 100%;
  padding: 1px;
  height: 3000px; /* Should be removed. Only for demonstration */
/* }  */

   h1 {
    padding-top: 2px;
    padding-bottom:2px;
    margin-top:2px;
    margin-bottom: 2px;
  } 
  
  p{
    text-align: center;
  }
  
  /* Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */



